.floppy_disk {
  @apply
  w-screen
  h-screen
  p-8
  flex
  flex-col
  justify-around
  items-center

  bg-[url("/surf_11.webp")]
  bg-contain
  bg-center
}

.signature {
  @apply
  p-8
  font-surf
  text-zinc-50/50
  italic
  text-7xl

  xl:text-8xl
  2xl:text-9xl

  animate-pulse
}

.card {
  @apply
  w-80
  h-80
  relative
  rounded-md
  bg-gradient-to-br
  from-emerald-900
  via-emerald-800/50
  to-emerald-500/50
  
  shadow-[7px_7px_10px_rgba(0,_0,_0,_0.307)]
  lg:translate-x-1/2
  
  hover:skew-x-12
  hover:rotate-12

  transition-all
  duration-300
  ease-in

  text-zinc-950
}

.top {
  @apply
  absolute
  w-[65%]
  h-[37%]
  top-0
  left-[37px]
  z-40
  border-t-0
  
  border-[3px]
  border-zinc-800
  rounded-bl-[10px]
  rounded-br-[10px]
}

.plastic {
  @apply
  absolute
  top-0
  right-[65px]
  w-[65px]

  h-full
  bg-pink-700/75
  z-50
  border-t-[25px]
  border-t-emerald-500/50
}

.tag {
  @apply
  z-50
  absolute
  right-1/2
  bottom-[1px]
  translate-x-1/2
  translate-y-0
  w-[75%]
  h-[52%]
  bg-gradient-to-br
  from-yellow-400
  via-yellow-300
  to-yellow-200
  
  rounded-xl
  rounded-tl
  rounded-tr
  
  border-t-2
  border-r-2
  border-l-2
  border-zinc-800
  border-b-transparent
}

.metal {
  clip-path: polygon(0% 0%, 0% 100%, 60% 100%, 60% 18%, 85% 18%, 85% 93%, 25% 93%, 25% 100%, 100% 100%, 100% 0%);
  @apply
  z-[60]
  absolute
  -top-1
  right-0
  w-[78%]
  h-[103%]
  bg-gradient-to-br
  from-zinc-300
  via-zinc-400
  to-zinc-500

  rounded-bl-xl
  rounded-br-xl

  transition-all
  duration-200
  ease-in
}

.card:hover .metal {
  @apply
  translate-x-[-44px]
}

.square_right {
  @apply
  absolute
  right-3
  bottom-6
  w-4
  h-4
  bg-transparent
  border-2
  border-zinc-800
}

.square_left {
  @apply
  absolute
  left-3
  bottom-6
  w-4
  h-4
  border-2
  border-zinc-800
}

.line_tag_bottom {
  @apply
  absolute
  bottom-0
  w-full
  h-6
  rounded-bl-lg
  rounded-br-lg

  bg-pink-700
}

.lines {
  @apply
  flex
  flex-col
  justify-center
  items-center
  
  pt-2
  px-4
}
.line {
  @apply
  z-[65]
  w-full
  h-6
  flex
  items-center
  
  font-semibold
  text-xl
  text-zinc-700
  font-surf
  italic
  
  border-b-2
  border-pink-700
}

.line_bottom {
  @apply
  w-full
  flex
  items-center
  justify-around

  gap-4
  pt-[10px]
}

.line1 {
  @apply  
  w-full
  h-0.5
  z-[65]
  bg-pink-700
}

.index_text {
  @apply
  uppercase
  font-semibold
  text-pink-700
}